:host {
  display: block;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .adicionar-tarefa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
  }

  .titulo-e-excluir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .descricao {
    overflow-wrap: break-word;
    font-size: 18px;
    margin-bottom: 20px;
  }

  input {
    gap: 10px;
  }

  small {
    color: #888888;
    text-align: right;
    font-size: 14px;
  }

  input[type='text'] {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
  }

  input[type='text']:focus {
    border-color: #0fca08;
    outline: none;
  }

  button {
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #0e9c0a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }

  button:hover {
    background-color: #0a6d06;
  }

  .deletar {
    width: 30px;
    stroke: rgb(228, 8, 8);
    cursor: pointer;
    transition: all 0.1s;
    flex-shrink: 0;
  }

  .deletar:hover {
    stroke: rgb(179, 2, 2);
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

  li .titulo-e-excluir span {
    min-width: 0;
    flex-grow: 1;
    overflow-wrap: break-word;
    padding-right: 10px;
  }

  .concluida {
    text-decoration: line-through;
    color: #5c5c5c;
  }

  li span {
    cursor: pointer;
    overflow-wrap: break-word;
  }

  li span:hover {
    text-decoration: line-through;
  }
}
